@page "/authentication"

@inject IPasswordManagerClient Client
@inject Toaster Toaster
@inject NavigationManager Router


<h3>Authentication</h3>

<EditForm Model="Model" OnValidSubmit="Submit" FormName="@typeof(AuthenticationPage).FullName">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="mb-2">
        <label for="email">Email</label>
        <InputText type="email" id="email" class="form-control" @bind-Value="Model.Email" />
        <ValidationMessage For="() => Model.Email" />
    </div>

    <div class="mb-2">
        <label for="password">Mot de passe</label>
        <InputText type="password" id="password" class="form-control" @bind-Value="Model.Password" />
        <ValidationMessage For="() => Model.Password" />
    </div>

    <button type="submit" class="btn btn-success">Se Connecter</button>

</EditForm>

@code {
    AuthenticationPayload Model = new();

    private async Task Submit(EditContext arg)
    {
        GenericResult r = await Client.Authenticate(Model);

        if (r.IsError())
        {
            Toaster.Error("Les identifiants ne sont pas bons");
            return;
        }
        else
        {
            Router.NavigateTo("/");
        }
    }

}
