@page "/passwords"

@inject Toaster Toaster
@inject NavigationManager Router
@inject IPasswordManagerClient Client

<h3>PasswordsPage</h3>

@code {
    private PasswordDTO[] Passwords = [];

    protected override async Task OnInitializedAsync()
    {
        OneOf<PasswordDTO[], ErrorCode> p = await Client.GetPasswords();

        if (p.Is<ErrorCode>())
        {
            Toaster.Error(p.T_1!);
            Router.NavigateTo("/");
            return;
        }

        Passwords = p.T_0!;
    }

}
